@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #E6FAA2;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}


.navigation ul li:hover {
    background-color: #AD594E;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
    background-color: transparent;
    cursor: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #383838;
    /* white-space: nowrap; */
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .ba {
    color: #383838;
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0px 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
} 

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: #AD594E;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar{
    width: 100%;
    height: 60px;
    padding: 0 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.toggle .bi::before {
    content: '\F479';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #383838;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid #383838;
    background-color: #383838;
    color: #E6FAA2;
}

.search label .bi {
    position: absolute;
    left: 15px;
    top: 2px;
    color: #E6FAA2;
}

.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
} 

.photo-user {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cardBox {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

.cardBox .card {
    position: relative;
    background-color: #383838;
    color: #E6FAA2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.35);
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 200;
}

.cardBox .card .cardName {
    color: grey;
}

.cardBox .card .iconBox {
    color: #E6FAA2;
    font-size: 2.0em;
}

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background-color: #383838;
    /* grid-template-columns: 1fr 2fr; */
    padding: 20px 20px;
    width: 100%; 
    border-radius: 20px;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.35);
   
}

.details {
    position: relative;
    width: 100%;
    padding: 20px 20px;
    /* padding-top: 0; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.details a {
    text-decoration: none;
    color: gray;
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 530px ;
    background-color: #383838;
    color: #E6FAA2;
    border-radius:  20px;
    padding: 20px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.50);
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;

}

.cardHeader h2 {
    font-weight: 600;
    padding: 5px 10px;
}

.btn {
    position: relative;
    padding: 5px 10px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 700;
}

.details .recentOrders table tr {
    border-bottom: 1px solid gray;
}

.details .recentOrders table tbody tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tr:hover{
    background-color: #AD594E;
}

.details .recentOrders table tr td {
    padding: 11px 5px;
}

.details .recentOrders table thead tr td:last-child, 
.details .recentOrders table tbody tr td:last-child {
    text-align: right;
}

.details .recentOrders table thead tr td:nth-child(2), 
.details .recentOrders table tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 50px;
}

.details .recentOrders table thead tr td:nth-child(3), 
.details .recentOrders table tbody tr td:nth-child(3){
    text-align: center;
}

.status {
    position: relative;
    padding: 2px 4px;
    background-color: gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 1px;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.50);
}

.delivered {
    background-color: #db2745;
}

.pending {
    background-color: #458f00;
}

.return {
    background-color: #3ca199;
}

.inprogress {
    background-color: #9797f3;
}

.details .recentCustomers {
    position: relative;
    display: grid;
    min-height: 530px;
    background-color: #383838;
    color: #E6FAA2;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.50);
}

.details .recentCustomers .imgBx {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .recentCustomers table tr:hover {
    background-color: #AD594E;
    /* color:#383838; */
}

.details .recentCustomers table tr td {
    padding: 7px 10px;
}

.details .recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
}

.details .recentCustomers table tr td span {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.details .recentCustomers table tr:hover td span {
    color: #383838;
}

@media (max-width:1010px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        left: 0;
    }
    .main {
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .graphBox {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
    .details .recentOrders {
        overflow: auto;
    }

    .details .recentOrders table {
        width: 60px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle.active {
        z-index: 10000;
        right: 0;
        left: initial;
        position: fixed;
    }
    .toggle.active::before {
        color: #383838;
    }
    .main,
    .main.active {
        width: 100%;
        left: 0;
    }
}